* {
    margin: 0;
}

header {
    background-color: #212121;
    width: 100%;
    height: 8%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    align-items: center;
    font-size: 600%;
    margin-left: 10%;
}

p {
    font-size: 500%;
    padding-left: 25%;
    padding-bottom: 5%;
}

.main {
    background-color: #26A65B;
    height: 92%;
    width: 100%;
}

.logo {
    float: left;
    height: 120px;
    width: 120px;
    margin-left: 2%;
    margin-top: 1%;
}

.navigation {
    float: right;
    font-size: 500%;
    font-style: normal;
    margin-right: 2%;
    margin-top: 1%;
}

.startedButton {
    height: 5%;
    width: 10%;
    font-family: arial;
    font-size: 300%;
    text-decoration: none;
    text-shadow: 0px 1px 0px #212121;
    border: 1px solid #212121;
    color: #ffffff;
    background-color: #212121;
    border-radius: 0%;
    margin-left: 30%;
}

.startedButton:hover {
    background-color: #000000;
}

.textBlock {
    margin-left: 25%;
    padding-top: 30%;
}
